<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8" />
    <title>升讯威微信营销系统 @ViewBag.Title</title>

    <link href="/Content/M/Style.css" rel="stylesheet" type="text/css">
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/validate/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/M/layer.m/layer.m.js")
    @Scripts.Render("~/bundles/M/common")
</head>
<body>
    <div id="divTopTitle_Staff">
        <table height="100%" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="middle">
                    <table id="tableTopTitle_Staff" height="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="30">&nbsp;</td>
                            <td>升讯威微信营销系统</td>
                            <td width="30">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>

    @RenderBody()

    <div class="divContent">
        <div class="divDotLine" style="margin-top:0.3rem; margin-bottom:0.1rem;">
        </div>

        <div style="color:#878787; font-size:0.12rem; margin-left:0.15rem;margin-right:0.15rem;">
            <table height="100%" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left">
                        © Copyright 2016 All Rights Reserved <br />
                        滁州市升讯威软件技术有限公司<br />
                        电话：0550-3926191 / 18114009195 <br />
                        QQ：279060597<br />
                        皖ICP备14020687号
                    </td>
                </tr>
            </table>

        </div>
    </div>
</body>
</html>
